<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello world</title>
</head>
<body>
    <!-- Chartjs.org chart copied here-->
     <!--Canvas added so we have a chart with it's own container-->
    <div>
        <canvas id="myChart"></canvas>
      </div>
      
      <!--Include Chart.js script from a CDN-->
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      

      <!--script that acquires the myChart canvas element and instantiates 
      new Chart with desired configuration: bar chart type, labels, data points, 
      and options.
      -->
      <script>
        const ctx = document.getElementById('myChart');
        fetch('/api/temps/node')
        .then(response=>response.json())
        .then(ourData=>{
        // we will map our data so we only have our nodes added here as 
        // subdata label
        // the nodes will map the data and will look for wach node id.
        // we also want to sort the data with a,b and do a-b 
        const nodes = [...new Set(ourData.map(subData=> subData.node_id))]
        .sort((a,b)=>a-b);

        // we add the timeLabels
        const timeLabels = [...new Set(subData.map(subData => new Date(subData.time_group)
            .toLocalTimeString()))].sort((a,b)=> new Date('1970/01/01' + a) - 
            new Date('1970/01/01' + b));
        
         // we add the datasets:
        let datasets = nodes.map(nodeId => {
            const nodeData = data.filter(data => data.node_id === nodeId);
            return {
                label: `Node${nodeId}`,
                data: timeLabels.map(time => {
                    const point = nodeData
                    .find(data => new Date(data.time_group)
                    .toLocaleTimeString() === time);
                    return point ? point.avg_temp : null;
                }),
            }
        });
        // we add the chart code into the fetch call here so the chart 
        // be created once the fetch call is initialized.
        new Chart(ctx, {
          type: 'line',
          data: {
            labels: timeLabels,
            datasets: [{
              label: 'Avg Temperature',
              data: datasets,
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });
        })
      
        
      </script>
</body>
</html>